article.word
  height: 0
  padding-bottom: 50%
  h1
    .pre
      display: none
    .word
      color: #333
      cursor: default
      font-size: 7.5em
  ul
    list-style-type: none
  .word
    color: #999
    font-size: 3em
    display: block
    position: absolute
    text-align: center
    text-decoration: none
    &.add
      font-size: 5em
      line-height: inherit
